/*****************
 *** Custom CSS ***
 *****************/

.box {
	display: flex;
	flex-flow: column;
	height: 100%;
}

.box .header {
	flex: 0 1 auto;
}

.box .content {
	flex: 1 1 auto;
	text-align: center;
}

.box .content .image {
	max-width: 90vw;
	max-height: 65vh;
	text-align: center;
	margin: 5% auto;
}

ons-input[type=text] {
	width: 90%;
}

.popover__content {
	min-height: 10px;
}

ons-splitter-side[side="left"][animation="overlay"] {
	border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.item-bought {
	text-decoration: line-through;
	opacity: 0.1;
}

.item-attachment {
	padding-left: 0.5em;
	color: skyblue;
}

.pinned {
	font-weight: bold;
	color: green;
}

.code-value {
	text-indent: 2em;
	color:  red;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 1.5em;
}

.code-countdown {
	color: green;
	font-family: sans-serif;
	font-weight: bold;
}

a.outlink:link, a.outlink:visited {
	color: orange;
	text-decoration: none;
}

a.outlink:hover, a.outlink.active {
	color: orange;
	text-decoration: underline;
}

/********************
 *** Animation CSS ***
 ********************/

#tabbar-page .list {
  background-color: grey;
  overflow-x: hidden;
  margin-top: -1px;
  border-bottom: 1px solid #ccc;
}

#tabbar-page .list-item {
  min-height: 0;
  height: 44px;
  background-color: white;
  margin: 1px 0 -1px 0;
}

#tabbar-page .list-item--material {
  height: 56px;
}

.list-title {
  margin-top: 12px;
}

.hide-children * {
  overflow: hidden;
}

.animation-swipe-right {
  pointer-events: none;
  -webkit-animation: swipe-right .9s ease-in-out forwards;
          animation: swipe-right .9s ease-in-out forwards;
}

.animation-swipe-left {
  pointer-events: none;
  -webkit-animation: swipe-left .9s ease-in-out forwards;
          animation: swipe-left .9s ease-in-out forwards;
}

.animation-remove {
  pointer-events: none;
  -webkit-animation: remove .7s ease-in-out forwards;
          animation: remove .7s ease-in-out forwards;
}

@-webkit-keyframes swipe-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(-3%);
            transform: translateX(-3%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    height: 0;
    opacity: 0.3;
  }
}

@keyframes swipe-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(-3%);
            transform: translateX(-3%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    height: 0;
    opacity: 0.3;
  }
}

@-webkit-keyframes swipe-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(3%);
            transform: translateX(3%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    height: 0;
    opacity: 0.3;
  }
}

@keyframes swipe-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(3%);
            transform: translateX(3%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    height: 0;
    opacity: 0.3;
  }
}

@-webkit-keyframes remove {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
    height: 0;
  }
}

@keyframes remove {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
    height: 0;
  }
}
